@import 'calendarize.scss';

.day {
    &.today {
        background-color: #e0e0e0;
    }
    &.holiday {
        background-color: #e53935;
    }
    &.birthday {
        background-color: #3949ab;
    }
    &.busy {
        background-color: #00897b;
    }
    &.anniversary {
        background-color: #f4511e;
    }
}